@import '~antd/dist/antd.less';
@import './pre.less';

html {
  background: rgba(255, 255, 255, 1);
}

body {
  .ant-layout {
    header {
      display: none;
    }
  }
  .ant-pro-sider-logo {
    cursor: unset; // 去除菜单标题栏的cursor
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: @small-gap;
}

.line-input-button {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  gap: @normal-gap;
  width: 50%;
  .ant-input-group {
    .ant-input-group-addon:last-child {
      padding: 0;
    }
  }
}

.file-diff {
  border: 1px solid #ddd;
  border-radius: 3px;
  .file-diff-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 35px;
    padding: 5px 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    gap: @small-gap;
    .file-diff-buttons {
      display: flex;
      gap: @small-gap;
    }
  }
  .diff-gutter.diff-gutter-normal {
    background-color: #f5f4f4;
  }
}
